<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Pet Finder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Térkép</a>
        </div>
        <div class="nav-right">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('add_pet') }}" class="user-link">{{ current_user.username }}</a>
                <a href="/logout">Kijelentkezés</a>
            {% else %}
                <span class="user-display">Nincs aktív fiók</span>
                <a href="/login">Bejelentkezés</a>
                <a href="/register">Regisztráció</a>
            {% endif %}
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>