{% extends "base.html" %}

{% block title %}Pet Finder - Térkép{% endblock %}

{% block content %}
    <h1>Elveszett állatok térképe</h1>
    <div id="map" style="height: 500px; width: 100%;"></div>

    <div id="map-data" 
         data-pets='{{ pets_metadata | tojson | safe }}' 
         style="display: none;">
    </div>

    <script src="{{ url_for('static', filename='js/map_handler.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
{% endblock %}